@import url('https://fonts.googleapis.com/css?family=Mukta:400,700|Poiret+One|Work+Sans:500,700');
html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    
    
}

.container {
    height: 90vh;
    position: relative;

}

.title {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poiret One', cursive;
    font-size: 350px;
    color: #ff6666;
    text-align: center;

}



.bg {
    background-image: url("nemicity/nemi.jpg");
    opacity: 0.3;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}




.topnav {
    overflow: auto;
    background-color: #ccffcc;
    width: 100%;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px 60px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Poiret One', cursive;


}

.topnav a:hover {
    background-color: #99cc33;
    color: black;
}

.topnav a.active {
    background-color: #ff6666;
    color: #ffcc99;

}



.body2 {
    background-color: #ff6666;


}

.responsive {
    max-width: 100%;
}

.center {
    width: 30%;
    height: 30%;
    margin: 6.5% auto;

}

.caption {
    font-family: 'Mukta', sans-serif;
    font-size: 16pt;
    text-align: center;
    color: #ffcc99;
    margin-top: 3px;
}

.footer {
    font-family: 'Mukta', sans-serif;
    font-size: 10pt;
    position: fixed;
    top: 95%;
    color: black;

    text-align: center;
    background-color: #99cc33;
    display: inline-block;
    width: 100%;
    padding: 8px;


}

.history1 {
    margin-top: 10vh;
    padding: 55px;

    background-image: url("nemicity/nemi2.jpg");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;


}


.lake1 {margin-top: 10vh;
    padding: 55px;
    background-image: url("lagodinemi/Lago-di-Nemi.jpg");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;}

.festival {margin-top: 10vh;
    padding: 55px;
    background-image: url("fragole/Fragole%201.jpg");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;}


.titletext {
    font-size: 36pt;
    text-align: center;
    background-color: rgba(255, 255, 255, .7);
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    color: #ff6666;
}

.text { display:flex;
    font-family: 'Mukta', sans-serif;
    font-size: 1.2em;
    padding: 2.5% 13%;
    text-align: justify;
    
}

@media screen and (max-width:800px) {.text{font-size: 1em;}}
@media screen and (max-width:530px) {.text{font-size: 0.7em; overflow: scroll;}  .topnav a{width:20%; font-size: 15px; padding:30px 0px;} .history1 {margin-top:5vh; margin-bottom: 5vh; height: 20%;} .lake1{margin-top:5vh; margin-bottom: 5vh; height: 20%;} .festival{margin-top:5vh; margin-bottom: 5vh; height: 20%;} .titletext {font-size: 20pt;}
@media screen and (max-width:700px) {.title{font-size: 180px;}}