@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');


body {
    background-color: #000000;}
.container {
padding: 5px 5px 1px 5px;
border: 12px solid #e61012;
margin:10px;
outline: 20px solid #ffffff;
}

h1 {
    color: #e61012;
    text-align: center;
    font-family: 'Sigmar One', cursive;
    font-size: 30pt;
    letter-spacing: 5pt;
    
    }
h3 {font-family: 'Ubuntu', sans-serif;
    color: #e61012;
    text-align: left;
font-size: 18pt;
    text-indent: 24px;
    letter-spacing: 5px;
    text-transform: uppercase;
font-weight: margin: 50px;}

ul {font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    text-align: left;
font-size: 18pt;
    
    }
li{ line-height: 10pt;
    list-style-image: url(lips.jpg);
    list-style-position: inside;
    text-indent: 10px;
    
}