@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');

body {
    background-color: #000000;
background-image: url(B&W%20image.jpg);
background-repeat: no-repeat;
background-position:right bottom;
background-size:auto;
min-height: 100%;}

.container {
padding: 1px 1px 1px 1px;
border: 10px solid #e61012;
outline: 10px solid #ffffff;
min-height: 100%;
}


h1 {
    color: #e61012;
    text-align: left;
    font-family: 'Sigmar One', cursive;
    font-size: 80pt;
    letter-spacing: 5pt;
    text-indent: 30px; 
    text-shadow: 3px 3px #ffffff;
  
}

h3 {font-family: 'Ubuntu', sans-serif;
    color: #e61012;
    text-align: left;
font-size: 25pt;
    text-indent: 45px;
    letter-spacing: 14px;

font-weight: bold;}

.nav {font-family: 'Ubuntu', sans-serif;
    color: #e61012;
    font-size: 30px;
    
    padding-top: 200px;
    
    font-variant: small-caps;
    text-decoration: underline;
    font-weight: bold;
    
    display:inline-block;
    margin-bottom: 30px;
    margin-left: 50px;
}

