@import url('https://fonts.googleapis.com/css?family=Creepster');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    background-color: #000000;
}


.container {width: 800px;
padding: 20px;
border: 10px solid #ed1c24;
margin:auto;}

h1 {
    color: #ed1c24;
    text-align: left;
    font-family: 'Creepster';
    font-size: 80pt;
    letter-spacing: 5pt;
    text-indent: 15pt;
    text-shadow: 5px 5px #000000;
}

h3 { color:#ed1c24;
    text-align: center;
    font-family: 'Creepster';
    font-size: 24pt;
    letter-spacing: 2pt;
    }

header {
    background-image: url("banner.jpg");
    background-size: 100% 100%;
}

p { color:#ffffff;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    }

ul {background-color: #5e5b62;
     color:#ffffff; 
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14pt;
    line-height: 16pt;
    list-style-type: square;}

a {background-color: #ffffff;
    color:#ed1c24; 
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14pt;
    line-height: 22pt;
    text-decoration: none;
    }

figcaption {color:#5e5b62;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12pt;
    font-style: italic;
 }

footer {color:#ed1c24;
    font-family: 'Creepster';
    font-size: 16pt;
    letter-spacing: 5pt;
    
    }

div.gallery {
    margin: 20px;
    border: 5px solid #5e5b62;
    float: left;
    width: 145px;
    height: 220px;
}

div.gallery:hover {
    border: 10px solid #ed1c24;
}

div.gallery img {
    width: 100%;
    height: 100%;
}

.indent {text-indent: 2em;}

.bold {font-weight: bold;}

.clear {
    clear:both;
}

